*.swp
*.rbc
*.rdb
*.css
!public/javascripts/vendor/jquery.mobile-1.0a4/*
.rvmrc
.bundle
.idea
.sass-cache
generate
log/*
!log/.gitkeep
coverage/*
db/*.sqlite3
db/schema.rb
config/database.yml
bin/*
ugassets/
tmp/*
!tmp/.gitkeep
vendor/gems/*
vendor/bundle
.DS_Store
binstubs
ugassets/
lib/config/local.rb
config/recipes/mysql_master/repl_rsa*
config/recipes/mysql_master/authorized_keys
config/initializers/zzz_local.rb
public/attachments/*
public/javascripts/compiled
!public/javascripts/compiled/.gitkeep
public/stylesheets/compiled
!public/stylesheets/vendor
public/stylesheets/*
!public/stylesheets/vendor
public/ugassets/*
!public/stylesheets/compiled/.gitkeep
public/images/users
public/images/scheduled_deals
!public/images/users/.gitkeep
public/images/offers/
!public/images/offers/test.jpg
public/images/partners/
public/images/skins/
public/ads/
public/ugassets
profiling/
config/secrets.rb
config/resque.yml
GeoIPCity.dat
script/log
spec/models/log
.idea
sauce_connect.log*
vendor/checkouts
vendor/cache
tags
.tddium*
.tddium
unit_test.html
coverages.yml
test_reports
